.page {
    margin: 0;
    background: lightgreen;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    /*padding: 10px;*/
    box-sizing: border-box;

    /*background: rgba(0, 0, 0, 0.1);*/
    background: white;
}

.header {
    padding: 16px;
}

.footer {
    padding: 16px;
}

.button {
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;

    border-radius: 5px;
    border: 1px solid seagreen;

    background-color: white;
    font-family: sans-serif;
    text-decoration: none;
    color: seagreen;
    transition: 0.4s;
}

.button:hover {
    background-color: seagreen;
    color: white;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
    background: black;
    color: white;
    width: 40px;
    height: 60px;
    cursor: pointer;
    transition: 0.4s;
}

.slider__button:hover {
    opacity: 1;
}

.slider__button_prev {
    left: 0;
    background: url("/static/img/left-arrow.svg") no-repeat center center, rgba(0, 0, 0, 0.6);
}

.slider__button_next {
    right: 0;
    background: url("/static/img/right-arrow.svg") no-repeat center center, rgba(0, 0, 0, 0.6);
}

.slider__slides-container {
    display: flex;
}

.slider__slide {
    position: relative;
    overflow: hidden;
}

.slider__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.slider__controls-container {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider__control {
    cursor: pointer;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background: white;
}

.slider__control_active {
    position: relative;
    background: white;
}

.slider__control_active::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: '';
    display: block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: black;
}

.menu {
    padding: 0;
    display: flex;

}

.menu__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1px;
    text-align: center;

    font-family: sans-serif;

    list-style: none;
    transition: 0.4s;
}

.menu__item:hover {
    background: seagreen;
}

.menu__link {
    display: block;
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%;

    color: black;
    text-decoration: none;
    transition: 0.4s;
}

.menu__item:hover .menu__link {
    color: white;
}

.content {
    margin: 0 10px;
}

.new {
    /*background: rgba(0,0,0,0.4);*/
    margin: 20px 0;
}

.new__title {
    margin: 0;
}

.new__text {
    margin: 0.5em 0;
}