.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.page {
    margin: 0;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;

    background: white;
}

.header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main {
    width: 15%;
}

.header-main__logo {
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100px;
}

.menu-button {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.6s border-radius, 0.4s background;
}

.menu-button__line {
    display: block;
    position: absolute;
    left: 10px;
    right: 10px;

    height: 3px;
    background: black;
    transition: 0.6s;
}

.menu-button__line:nth-child(1) {
    top: 10px;
}

.menu-button__line:nth-child(2) {
    top: 23px;
}

.menu-button__line:nth-child(3) {
    top: 37px;
}

.menu-button_opened .menu-button__line:nth-child(1) {
    top: 23px;
    transform: rotate(45deg);
}

.menu-button_opened .menu-button__line:nth-child(2) {
    opacity: 0;
}

.menu-button_opened .menu-button__line:nth-child(3) {
    top: 23px;
    transform: rotate(-45deg);
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
}

.menu__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1px;
    text-align: center;

    font-family: sans-serif;

    list-style: none;
    transition: 0.4s;
}

.menu__item:hover {
    background: seagreen;
}

.menu__link {
    display: block;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;

    color: black;
    text-decoration: none;
    transition: 0.4s;
}

.menu__item:hover .menu__link {
    color: white;
}

.footer {
    padding: 16px;
}

.button {
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;

    border-radius: 5px;
    border: 1px solid seagreen;

    background-color: white;
    font-family: sans-serif;
    text-decoration: none;
    color: seagreen;
    transition: 0.4s;
}

.button:hover {
    background-color: seagreen;
    color: white;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
    background: black;
    color: white;
    width: 40px;
    height: 60px;
    cursor: pointer;
    transition: 0.4s;
}

.slider__button:hover {
    opacity: 1;
}

.slider__button_prev {
    left: 0;
    background: url("/static/img/left-arrow.svg") no-repeat center center, rgba(0, 0, 0, 0.6);
}

.slider__button_next {
    right: 0;
    background: url("/static/img/right-arrow.svg") no-repeat center center, rgba(0, 0, 0, 0.6);
}

.slider__slides-container {
    display: flex;
}

.slider__slide {
    position: relative;
    overflow: hidden;
}

.slider__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.slider__controls-container {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider__control {
    cursor: pointer;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background: white;
}

.slider__control_active {
    position: relative;
    background: white;
}

.slider__control_active::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: '';
    display: block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: black;
}

.content {
    margin: 0 10px;
}

.new {
    /*background: rgba(0,0,0,0.4);*/
    margin: 20px 0;
}

.new__title {
    margin: 0;
}

.new__text {
    margin: 0.5em 0;
}

.feedback__form {
    width: 70%;
    margin: 0 auto;
}

.form__input {
    margin-top: 20px;
}

.form__button {
    margin-top: 20px;
    float: right;
}

.input {
    position: relative;
}

.input__field {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid lightgray;
}

.input__field:focus {
    outline: 2px solid seagreen;
}

.input__label {
    font-family: sans-serif;
    position: absolute;
    left: 8px;
    top: 16px;
    padding: 0 8px;
    color: grey;
    transition: 0.4s;
}

.input__field:focus ~ .input__label,
.input__field_has-text ~ .input__label {
    left: 8px;
    top: -8px;
    font-size: 0.8em;
    background: white;
    color: seagreen;
}

.input_textarea .input__field {
    resize: vertical;
}

@media (max-width: 768px) {
    .header {
        display: block;
    }

    .header-main__logo {
        width: 15%;
    }

    .header-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
    }

    .menu-button {
        display: block;
    }

    .menu-container {
        overflow: hidden;
        margin-top: 0;
        max-height: 0;
        transition: 1s max-height, 1s margin;
    }

    .menu-container_opened {
        margin-top: 10px;
    }

    .menu {
        background: white;
        flex-direction: column;
    }

    .feedback__form {
        width: 100%;
    }
}