{% load staticfiles %}
<div class="excursions">
    <div class="excursions__list excursions-list">
        <h1 class="excursions-list__title">Экскурсии</h1>
        {% for excursion in excursions %}
            <div class="excursions-list__item excursions-list-item" data-excursion-id="{{ excursion.id }}">
                <div class="excursions-list-item__title excursion-title">{{ excursion.name }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="excursions__container excursions-container">
        <div class="excursions-container__message pick-excursion-message">
            Выберете экскурсию в списке слева
        </div>
        {% for excursion in excursions %}
            <div class="excursions-container__excursion excursion" data-excursion-id="{{ excursion.id }}">
                <div class="excursion__header excursion-header">
                    <div class="excursion-header__back-button back-button">
                        <span class="back-button__line"></span>
                        <span class="back-button__line"></span>
                        <span class="back-button__line"></span>
                    </div>
                    <h1 class="excursion-header__title excursion-title">{{ excursion.name }}</h1>
                </div>
                <div><button class="button join-excursion-button" data-excursion-id="{{ excursion.id }}" data-excursion-name="{{ excursion.name }}">Записаться</button></div>
                {% autoescape off %}
                {{ excursion.text }}
                {% endautoescape %}
                <div><button class="button join-excursion-button" data-excursion-id="{{ excursion.id }}" data-excursion-name="{{ excursion.name }}">Записаться на экскурсию "{{ excursion.name }}"</button></div>
            </div>
        {% endfor %}
        <div class="excursions-container__form-container form-container">
            <form class="excursions-container__form excursion-form form clearfix" method="post" action="/excursions/">

                <div class="form__header excursion-header">
                    <div class="excursion-header__back-button back-button">
                        <span class="back-button__line"></span>
                        <span class="back-button__line"></span>
                        <span class="back-button__line"></span>
                    </div>
                    <h1 class="excursion-header__title excursion-title">Запись на экскурсию <span class="excursion-form__excursion-name"></span></h1>
                </div>

                {% csrf_token %}
                <input class="excursion-form__excursion-id-field" hidden name="excursionId" value="">
                <div class="form__input input">
                    <input id="excursion-form__name-field" name="name" type="text" class="input__field" required>
                    <label for="excursion-form__name-field" class="input__label">Имя</label>
                </div>
                <div class="form__input input">
                    <input id="excursion-form__tel-field" name="tel" type="tel" class="input__field" required>
                    <label for="excursion-form__tel-field" class="input__label">Номер телефона</label>
                </div>
                <div class="form__input input">
                    <input id="excursion-form__email-field" name="email" type="email" class="input__field" required>
                    <label for="excursion-form__email-field" class="input__label">Электронная почта</label>
                </div>
                <div>
                    <input class="form__button button excursion-form__join" type="submit" value="Записаться">
                    <button class="form__button button excursion-form__cancel">Отмена</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static "js/excursions.js" %}"></script>
</div>