<div class="feedback">
    <div>
        {% for field in fb %}
            {% if field.verification %}
                <h2 class="">{{ field.name }}</h2>
                <p class="">{{ field.text }}</p>
                <span class="">{{ field.date_create}}</span>
            {% endif %}
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        <label>Имя: <input type="text" name="name"></label>
        <label>
            Текст комментария:
                <textarea class="feedback__field" name="text"></textarea>
        </label>
        <input type="submit" value="Отправить">
    </form>
</div>