<div class="feedback">
    <h1 class="feedback__title">Отзывы</h1>
    <form method="post" class="feedback__form form clearfix">
        {% csrf_token %}
        <div class="form__input input">
            <input id="name-field" name="name" class="input__field">
            <label for="name-field" class="input__label">Имя</label>
        </div>
        <div class="form__input input input_textarea">
            <textarea id="text-field" name="text" class="input__field"></textarea>
            <label for="text-field" class="input__label">Комментарий</label>
        </div>
        <label>
            <div class="form__button button">Отправить</div>
            <input hidden type="submit">
        </label>
    </form>
    <div class="feedback__comments comments">
        {% for field in fb %}
            <div class="comments__comment comment">
                <span class="comment__author">{{ field.name }}</span>
                <p class="comment__text">{{ field.text }}</p>
                <span class="comment__date">{{ field.date_create}}</span>
            </div>
        {% endfor %}
    </div>
</div>