<div class="feedback">
    <h1 class="feedback__title">Отзывы</h1>
    <form class="feedback__form form clearfix">
        <div class="form__input input">
            <input id="name-field" name="name" class="input__field">
            <label for="name-field" class="input__label">Имя</label>
        </div>
        <div class="form__input input input_textarea">
            <textarea id="text-field" name="name" class="input__field"></textarea>
            <label for="text-field" class="input__label">Комментарий</label>
        </div>
        <div class="form__button button">Отправить</div>
    </form>
    <div class="feedback__comments comments">
        <div class="comments__comment comment">
            <span class="comment__author">Имя</span>
            <p class="comment__text">Текст</p>
            <span class="comment__date">сегодня в 8:44</span>
        </div>
        <div class="comments__comment comment">
            <span class="comment__author">Имя</span>
            <p class="comment__text">Текст</p>
            <span class="comment__date">сегодня в 8:44</span>
        </div>
        <div class="comments__comment comment">
            <span class="comment__author">Имя</span>
            <p class="comment__text">Текст</p>
            <span class="comment__date">сегодня в 8:44</span>
        </div>
        <div class="comments__comment comment">
            <span class="comment__author">Имя</span>
            <p class="comment__text">Текст</p>
            <span class="comment__date">сегодня в 8:44</span>
        </div>
        <div class="comments__comment comment">
            <span class="comment__author">Имя</span>
            <p class="comment__text">Текст</p>
            <span class="comment__date">сегодня в 8:44</span>
        </div>
    </div>
</div>