<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>Пеший Екатеринбург</title>
</head>
<body class="page">
    <div class="wrapper">
        <header class="header">
            <img class="header__logo" src="{% static "img/logo.png" %}" alt="Логотип" width="100">
            <span class="header__title">Пеший Екатеринбург</span>
        </header>
        <div class="slider">
            <div class="slider__slides-container">
                <div class="slider__slide"><img class="slider__image" alt="" src="{% static "img/3049.jpeg" %}"></div>
                <div class="slider__slide"><img class="slider__image" alt="" src="{% static "img/Ekaterinburg Russia 1423988876.jpg" %}"></div>
                <div class="slider__slide"><img class="slider__image" alt="" src="{% static "img/ekb.jpg" %}"></div>
                <div class="slider__slide"><img class="slider__image" alt="" src="{% static "img/s1200.jpg" %}"></div>
                <div class="slider__slide"><img class="slider__image" alt="" src="{% static "img/s1200.webp" %}"></div>
            </div>
            <div class="slider__button slider__button_prev"></div>
            <div class="slider__button slider__button_next"></div>
            <div class="slider__controls-container"></div>
        </div>
        <nav>
            <ul class="menu">
                <li class="menu__item"><a class="menu__link" href="/news/">Новости</a></li>
                <li class="menu__item"><a class="menu__link" href="/excursions/">Экскурсии</a></li>
                <li class="menu__item"><a class="menu__link" href="/feedback/">Отзывы</a></li>
            </ul>
        </nav>
        <div class="content">
            {% if template %}
                {% include template %}
            {% endif %}
        </div>
        <footer class="footer">Футер</footer>
    </div>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>