<div class="news">
    <h1 class="news__title">Новости</h1>
    {% for news_article in news_list %}
        <div class="new">
            <div class="new__headline">
                <h2 class="new__title">{{ news_article.header }}</h2>
                <div class="new__date">{{ news_article.date_create }}</div>
            </div>
            <p class="new__text">{{ news_article.text }}</p>
            <a class="new__read-more-button button" href="/news/{{ news_article.id }}/">Читать далее</a>
        </div>
    {% endfor %}
</div>